<!doctype html>
<html>
<head>
  <title>Template Inheritance Example</title>
</head>
<body>
  <h1>Title stored in the base Template</h1>
  <h2>With subtitle</h2>

  {% block content %} {% endblock %}

</body>
</html>

